<!--/*
 * @file navbar.ejs
 * @author Bastian Bastias Sanchez. 
 * @studentID 301242983 
 * @date September 30th 2022.
 * @since  1.0.0
 */-->
<!--main nav-->

<!-- add logic to logo path if is into /contacts/edit add ../../ -->
<div class="p-3 mb-2 bg-secondary text-white">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <img src="<%= basePath %>/img/logo-white.png" width="130" height="130" class="d-inline-block align-top" alt="" />
        <div class="container-fluid">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link <%= menu === 'home' ? 'active' : '' %>">Home</a>
                    <a href="/about_me" class="nav-item nav-link <%= menu === 'about' ? 'active' : '' %>">About Me</a>
                    <a href="/projects" class="nav-item nav-link <%= menu === 'projects' ? 'active' : '' %>">Projects</a>
                    <a href="/services" class="nav-item nav-link <%= menu === 'services' ? 'active' : '' %>">Services</a>
                    <a href="/contact_me" class="nav-item nav-link <%= menu === 'contact' ? 'active' : '' %>" tabindex="-1">Contact Me</a>
                    <a href="/contacts" class="nav-item nav-link <%= menu === 'contacts' ? 'active' : '' %>" tabindex="-1">Contacts</a>
                </div>
            </div>
        </div>
    </nav>
</div>

<br />
<br />
<br />
<!--end main nav-->