<%- include('./partials/header'); %>
    <%- include('./partials/navbar'); %>


        <div class="container">
            <div class="p-5 mb-6 bg-light rounded-5">
                <h1>Welcome to my Portfolio</h1>
                <!--<p class="card-text bg-light" style="transform: rotate(0);">My name is Bastian Bastias</p>-->
                <p class="card-text bg-light" style="transform: rotate(0);">The main idea of this portfolio is to make
                    my work ans services known mentioning my skills and experience. </p>
                    <p class="card-text bg-light" style="transform: rotate(0);">
                    Contribute and serve society from the technological field, support, guide, and accompany people and companies that need support with any requirement.
                    </p>
                <p class="card-text bg-light" style="transform: rotate(0);"></p>
                You can know more about me is this <a href="/about_me" class="text-warning ">Link</a></p>
            </div>

            <% if (modal){ %>
                
                

            <!-- Modal -->            
            <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="contactModalLabel">Thanks <%= contact.firstName %>
                                    <%= contact.lastName %>
                            </h5>
                            <button type="button" class="btn btn-close" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            I have received your message and would like to thank you for writing to me.
                            I will reply by email as soon as possible.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" >Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <%- include('./partials/footer'); %>
                <script>
                    $('#contactModal').modal();
                    $(".btn").click(function () {
                        //console.log("clixk")
                        $("#contactModal").modal('hide');
                        //$('.modal.in').modal('hide') 
                    });
                </script>